.besprit{
    
        background-image: url("C:\Users\hrizi\OneDrive\Bureau\angularstage\TemplatesCankod-main\src\assets\front\img\BACKGROUND.jpg");
        background-size: auto;
        background-position: auto;
      }
      